body {
    background-color: whitesmoke ;
}

#navbar {
    background-color: #FF007F;
    margin-bottom: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#ctleft{
    margin-top: 15px;
    float: left;
    width: 450px;
    height: 200px;
}
#ctright{
    margin-top: 15px;
    float: right;
    width: 450px;
    height: 200px;
}

#finalProduct {
    display: inline-block;
    margin-top: 15px ;
    margin-bottom:15px; 
}
#topper2 {
    margin-top:25px;
    margin-bottom: 15px;
}

#ctbig {
    background-color: white;
    height: 600px;
    padding-bottom: 200px;
    border-radius: 1px;
    border: solid lightgrey;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}